$collor1: #7D460C;
$collor2: #191910;
$collor3: #945F1F;
$collor4: #AC7A38;
$collor5: #543512;
$collor6: #C29F5B;
$collor7: #E1C483;
$collor8: #1F3855;
$collor9: #516E85;
$collor10: #494a4b;
$collor11: #FFFFFF;

$normalScrollBackgroundCollor: transparentize($collor8, 0.75);
$hoverScrollBackgroundCollor: transparentize($collor9, 0);
$selectedScrollBackgroundCollor: transparentize($collor9, 0);

$sideBackgroundCollor: $collor6;
$sideTextCollor: $collor11;
$sideTopBackgroundCollor: $collor8;
$sideTopFrontConfigComboBackgroundCollor: $collor11;
$sideTopFrontConfigComboTextCollor: $collor2;
$sideTopFrontConfigComboBorderCollor: $collor2;
$sideTopAvatarBorderCollor: $collor11;
$sideSearchTopicsBackgroundCollor: $collor9;
$sideSearchTopicsTextCollor: $collor11;
$sideTreeItemTextColor: $collor8;
$sideTreeItemHoverBackgroundColor: $collor1;
$sideTreeItemHoverTextColor: $collor11;
$sideTreeNoItemsTextCollor: $sideTreeItemTextColor;

$contentBackgroundCollor: $collor7;
$contentPreBackgroundCollor: $collor8;
$contentPreTextCollor: $collor11;
$contenLinkTextCollor: $collor9;

$contentTextCollor: $collor2;
$contentTitleUnderlineColor: $collor8;
$contentBlockquoteBorderColor: $collor8;
$contentBlockquoteBackgroundColor: $collor11;
$contentBlockquoteTextColor: $collor2;
$contentCodeTextColor: $collor11;
$contentCodeBsckgroundColor: $collor8;
$contentTableHeaderBackgoundCollor: $collor1;
$contentTableHeaderTextCollor: $collor11;
$contentTableRowOddBackgoundCollor: $collor4;
$contentTableRowOddTextCollor: $collor2;
$contentTableRowEvenBackgoundCollor: $collor6;
$contentTableRowEvenTextCollor: $collor2;

$contentBreadcrumbBackbgroudCollor: $collor8;
$contentBreadcrumbItemTextCollor: $collor11;
$contentBreadcrumbItemLastTextCollor: $collor11;
$contentBreadcrumbBorderCollor: $collor11;

$contentPaginateBackgroundCollor: $collor8;
$contentPaginateBorderCollor: $collor11;
$contentPaginateLineCollor: $collor11;
$contentPaginateTitleCollor: $collor11;
$contentPaginateCircleBackgroundCollor: $collor8;
$contentPaginateCircleBorderCollor: $collor11;
$contentPaginateCircleIconCollor: $collor11;