$color1: #7D460C;
$color2: #191910;
$color3: #945F1F;
$color4: #AC7A38;
$color5: #543512;
$color6: #C29F5B;
$color7: #E1C483;
$color8: #1F3855;
$color9: #516E85;
$color10: #494a4b;
$color11: #FFFFFF;

$normalScrollBackgroundColor: transparentize($color8, 0.75);
$hoverScrollBackgroundColor: transparentize($color9, 0);
$selectedScrollBackgroundColor: transparentize($color9, 0);

$sideBackgroundColor: $color6;
$sideTextColor: $color11;
$sideTopBackgroundColor: $color8;
$sideTopFrontConfigComboBackgroundColor: $color11;
$sideTopFrontConfigComboTextColor: $color2;
$sideTopFrontConfigComboBorderColor: $color2;
$sideTopAvatarBorderColor: $color11;
$sideSearchTopicsBackgroundColor: $color9;
$sideSearchTopicsTextColor: $color11;
$sideTreeItemTextColor: $color8;
$sideTreeItemHoverBackgroundColor: $color1;
$sideTreeItemHoverTextColor: $color11;
$sideTreeNoItemsTextColor: $sideTreeItemTextColor;

$contentBackgroundColor: $color7;
$contentPreBackgroundColor: $color8;
$contentPreTextColor: $color11;
$contenLinkTextColor: $color9;

$contentTextColor: $color2;
$contentTitleUnderlineColor: $color8;
$contentBlockquoteBorderColor: $color8;
$contentBlockquoteBackgroundColor: $color11;
$contentBlockquoteTextColor: $color2;
$contentCodeTextColor: $color11;
$contentCodeBackgroundColor: $color8;
$contentTableHeaderBackgoundColor: $color1;
$contentTableHeaderTextColor: $color11;
$contentTableRowOddBackgoundColor: $color4;
$contentTableRowOddTextColor: $color2;
$contentTableRowEvenBackgoundColor: $color6;
$contentTableRowEvenTextColor: $color2;

$contentBreadcrumbBackbgroudColor: $color8;
$contentBreadcrumbItemTextColor: $color11;
$contentBreadcrumbItemLastTextColor: $color11;
$contentBreadcrumbBorderColor: $color11;

$contentPaginateBackgroundColor: $color8;
$contentPaginateBorderColor: $color11;
$contentPaginateLineColor: $color11;
$contentPaginateTitleColor: $color11;
$contentPaginateCircleBackgroundColor: $color8;
$contentPaginateCircleBorderColor: $color11;
$contentPaginateCircleIconColor: $color11;