@font-face {
    font-family: "Roboto Mono";
    src: url('~@/assets/scss/fonts/RobotoMono-VariableFont_wght.ttf');
}

@font-face {
    font-family: "Roboto Slab";
    src: url('~@/assets/scss/fonts/RobotoSlab-VariableFont_wght.ttf');
}